



body {
	overflow:hidden; 		/* needed to eliminate scrollbars caused by the background image */
	padding:0;margin:0;		/* necesarry for the raster to fill the screen */
	height:100%;width:100%;
}

#bgimg {
	position:absolute;
	z-index: -1;
}

#realBody{
	position:absolute;
	z-index: 5;				/* Place the new body above the background image */
	overflow:auto; 			/* restore scrollbars for the content */
	height:100%;width:100%;	/* Make the new body fill the screen */
	/*background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
}

#title{
	position: relative;
	left: 175px;
	top: 0px;
	color:#fff;
	font-size:50px;
	text-decoration:none;
	font-weight: normal;
}

#titleDiv{
	text-align: left;
	width: 100%;
	height: 100px;
	background:rgba(0,0,0,.5); /*this will make the title darker*/
}

.icon{
	position: relative;
	left: 150px;
	top: 15px;
	width: 64x;
	height: 64px;
}

#container {
	width: 870px;
	height: 650px;
	margin: auto;
	margin-top: 40px;
	padding-top: 0px;
	background:rgba(0,0,0,.5);
	text-align:center;
}

#container h1 {
	color:#fff;
	font-size:50px;
	text-decoration:none;
	font-weight: normal;
	
}


@font-face {
	font-weight: normal;
	font-style: normal;
}



/* Grid */

#grid {
	margin-top: 20px;
}

#grid h2{
	color: #fff;
	text-align: left;
	margin-left: 65px;
	font-size: 30px;
	font-family: 'Lobster', sans-serif;
	margin-bottom: 3px;
	font-weight: normal;
}


#grid p{
	color: #fff;
	text-align: left;
	margin-left: 65px;
	margin-bottom: 3px;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	margin-top: 0px;
	width: 650px;
	line-height: 18px;
}

@font-face {
	font-weight: normal;
	font-style: normal;
}

#grid img {
	margin: 20px 10px 20px 10px;
	border: 3px solid #000;
}

#grid a:hover img{
	border: 3px solid #fff;
}

#header{
	display:inline-block;
	color: #fff;
	margin: 0;
	padding: 10px;
	background:rgba(0,0,0,.5);
	text-align: left;
	vertical-align: middle;
	width: 100%;
}

#header img{
	float: left;
}

#header a{
	color: #fff;
	float: left;
	font-size: 18px;
	font-family: helvetica, sans-serif;
	margin-top: 15px;
	margin-left: 10px;
}

#mySession{
	z-index: 9;
	position: relative;
	float: left;
}

#mySessionContainer{
	width: 400px;
	height: 300px;	
	
	float:left; 
	
	border: 3px solid #fff;
	margin: 20px 10px 20px 10px;
}

#partnerSessionContainer{
	width: 400px;
	height: 300px;	
	
	float:right; 
	
	border: 3px solid #fff;
	margin: 20px 10px 20px 10px;
}

#partnerSession{
	z-index: 9;
	position: relative;
	float: left;
}

.placeholderImg{
	position: relative;
	width: 380px;
	height: 280px;
	margin: 10px 10px 10px 10px;
	z-index: 10;
	
	float: left;
}

.disconnectButton {
   border-top: 1px solid #700000;
   background: #bd0020;
   background: -webkit-gradient(linear, left top, left bottom, from(#fc2a2a), to(#bd0020));
   background: -webkit-linear-gradient(top, #fc2a2a, #bd0020);
   background: -moz-linear-gradient(top, #fc2a2a, #bd0020);
   background: -ms-linear-gradient(top, #fc2a2a, #bd0020);
   background: -o-linear-gradient(top, #fc2a2a, #bd0020);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
   }
.disconnectButton:hover {
   border-top-color: #ff5959;
   background: #ff5959;
   color: #ccc;
   }
.disconnectButton:active {
   border-top-color: #fa0505;
   background: #fa0505;
   }
   
 /* buttons */
.greenbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
	cursor:pointer;
	
}.greenbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.greenbutton:active {
	position:relative;
	top:1px;
}

#createDiv{
	width:100%;
}

#joinDiv{
	width:100%;
}

.whiteText{
	color:#FFFFFF;
}

.largeWhite{
	color:#FFFFFF;
	font-family: tahoma, verdana, sans-serif;
    font-size: 16;
}

input{
	font-family: tahoma, verdana, sans-serif;
    font-size: 1.1em;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 3px;
	text-align: center;
}
